* {

    font-family: "Lexend Giga";

}

body {
    margin: 0px;
    background: linear-gradient(to left, #61240d, #050505);
}

/* ============================================= HEADER =============================================  */

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    display: flex;
    align-items: center;
    z-index: 50;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.12);
}

.header-contenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
    width: 100%;
    gap: 16px;
    padding: 0 20px;

}

.logo {
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    font-size: 1.05rem;
}


.nav-links {
    display: flex;
    list-style: none;
    gap: 18px;
    align-items: center;
}

.nav-link {
    color: rgba(255, 255, 255, 0.88);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 0.95rem;
}

.nav-link:hover {
    background: rgba(255, 255, 255, 0.03);
}


.panier {
    display: flex;
    align-items: center;
    gap: 10px;
}

.panier-button {
    background: var(--glass);
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
}

.panier-count {
    background: rgb(207, 67, 67);
    padding: 2px 6px;
    border-radius: 20px;
    margin-left: 8px;
    color: white;
    font-size: 12px;
}

/* burger pour mobiles */
.burger {
    display: none;
    background: transparent;
    border: none;
    width: 40px;
    height: 34px;
    cursor: pointer;
}

.burger span {
    display: block;
    height: 3px;
    background: white;
    margin: 6px 0;
    border-radius: 2px;
}

/*  HERO (titre, intro, barrel)  */
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 92px;
    padding-bottom: 20px;
}


.hero-title {
    font-size: clamp(20px, 4vw, 6vw);
    letter-spacing: 8px;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    z-index: 3;
    text-align: center;
    animation: glitch 3.2s infinite;
}

@media (max-width: 650px) {
    .site-header {
        height: 56px;
    }

    .header-contenu {
        padding: 0 12px;
    }

    .nav-links {
        display: none;
    }

    .burger {
        display: block;
    }


    .hero {
        padding-top: 78px;
        gap: 10px;
    }

    .carousel .product-container {
        flex: 0 0 100%;
        /* un seul produit */
    }
}

/* ============================================= BODY  =============================================  */



.invisible {
    border: none;
    height: 70px;
    width: 100%;
    margin-bottom: 70px;
}


/* ---------------------- titre ---------------------- */

.title {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: clamp(1rem, 10vw, 4rem);

}

/* ---------------------- lignes ---------------------- */

.line1 {
    border: none;
    height: 4px;
    background-color: #ff4d00;
    width: 40%;
}

.line2 {
    border: none;
    height: 4px;
    background-color: #ff4d00;
    width: 66%;
}

.line3 {
    border: none;
    height: 4px;
    background-color: #ff4d00;
    width: 80%;
}

.line4 {
    border: none;
    height: 4px;
    background-color: #ff4d00;
    width: 90%;
}

/* ---------------------- menu à gauche ---------------------- */

.left_menu {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    left: 7%;
    border: solid 1px orangered;
    padding-right: 30px;
    border-radius: 30px;
    width: 15%;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.12);

}

@media(max-width:1180px) {
    .left_menu {
        display: none;
    }
}


/* ---------------------- bandeau promo ---------------------- */

.bandeau_promo {
    margin-top: 100px;
}

.bandeau_defilant {
    width: 100%;
    background-color: orangered;
    color: rgb(255, 255, 255);
    overflow: hidden;
    font-weight: bold;
    padding: 10px 0;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
}

.bandeau_texte {
    display: inline-block;
    padding-left: 100%;
    /* pour commencer hors écran */
    animation: defile 12s linear infinite;
}

@keyframes defile {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.article_promo {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background: radial-gradient(circle at center, #4a1d0c, #050505);

}

.article_promo img {
    width: 25%;
}

.image_promo img {
    position: relative;
    right: 0%;
}

.promo_texte {
    width: 50%;
    font-size: clamp(1rem, 1vw, 4rem);
    text-align: center;
    color: white;
}

.promo_texte p {
    color: orangered;

}

@media (max-width:950px) {

    .article_promo {
        flex-direction: column;
        padding: 15px;
    }

    .article_promo img {
        display: none;
    }

}

/* ---------------------- bandeau filtres ---------------------- */

.filters {
    margin-left: 45%;
    margin-top: 100px;
    margin-bottom: 100px;

}

.filter-toggle {
    display: none;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.filter-group {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.filter-item {
    position: relative;
    cursor: pointer;
}

.filter-label {
    color: white;
    font-size: 18px;
}

.filter-title {
    color: orangered;
    font-size: 18px;
    margin-left: -500%;
}

.filter-options {
    list-style: none;
    position: absolute;
    width: 150px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    display: none;
    z-index: 100;
}

.filter-options li {
    padding: 8px;
    font-size: 16px;
    color: #eee;
    cursor: pointer;
}

.filter-item:hover .filter-options {
    display: block;

}

.filter-label:hover {
    color: orangered;
}


@media (max-width: 650px) {

    .filters {
        margin-left: 0%;
    }

    .filter-toggle {
        display: block;
        margin-bottom: 10px;
    }


    .filter-group {
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }

    .filters.show .filter-group {
        display: flex;
    }

    .filter-item {
        width: 100%;
    }

    .filter-options {
        position: relative;
        width: 100%;
    }
}

/* ---------------------- zone grille articles ---------------------- */

.sous-titre {
    margin-left: 25%;
    color: white;
}

.grille_articles {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: center;
    width: 65vw;
    position: relative;
    left: 25%;
    gap: 30px;
    margin-bottom: 200px;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    color: white;
    transition: transform 0.3s ease;
    padding: 5px;
    border-radius: 30px;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.12);
}

.article img {
    border-radius: 30px;
}


.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.8vw;
    border-radius: 30px;
}

.info_article {
    width: 80%;
    border-radius: 30px;

}

.info_article p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 30px;
}

#prix {
    width: 20%;
    color: orangered;
    border-radius: 30px;
}

button {
    font-size: 1.2vw;
    color: white;
    padding: 10px;
    background-color: orangered;
    border-radius: 30px;
    border: none;

}

button:hover {
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.12);
    border: solid 1px orangered;
    color: orangered;

}

.article:hover {
    transform: scale(1.10);
}

@media (max-width:650px) {

    .sous-titre {
        margin-left: 0%;
    }

    .grille_articles {
        width: 100%;
        left: 0%;
    }

    .article {
        width: 45%;
    }

    .info_article {
        font-size: 180%;
    }

    #prix {
        font-size: 180%;
    }
}

/* ---------------------- zone articles ---------------------- */

.zone_articles {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
    width: 100%;
    background-color: rgba(255, 68, 0, 0.771);
    padding: 15px 0px 30px 0px;
    gap: 30px;

}

.articlev2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28%;
    color: white;
    transition: transform 0.3s ease;
    padding: 5px;
    border-radius: 30px;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.12);
}

.articlev2 img {
    border-radius: 30px;
}

.articlev2:hover {
    transform: scale(1.08);
}

.decouvrir {
    width: 25%;
    color: white;
    text-align: center;
    font-size: 130%;
    transition: transform 0.3s ease;
    border-radius: 30px;
}



.decouvrir:hover {
    transform: scale(1.10);
    color: black;
}


.show_content {
    max-width: 75%;


}

.show_content h2 {
    color: white;

}

.show_article {
    display: flex;
    gap: 30px;
    padding: 35px;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(to right, #61240d, #050505);
}

@media (max-width:650px) {

    .zone_articles {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .show_content {
        max-width: 97%;

    }

    .show_article {
        gap: 15px;
        padding: 10px;
        justify-content: center;
        border-radius: 30px;
    }


}

/* ---------------------- pagination ---------------------- */

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 25px 0;
    flex-wrap: wrap;
}

.pagination a {
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.12);
    font-weight: 600;
    transition: 0.3s;
}

.pagination a:hover {
    background: orangered;
    transform: translateY(-3px);
}

.pagination .active {
    background: orangered;
}

.pagination .next {
        backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.12);
}

/* ============================================= FOOTER =============================================  */

footer {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9rem;
    text-align: center;
    gap: 50px;
}

.footer-hr {
    height: 2px;
    width: 100%;
}

.footer__container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 80px;
}

.footer__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 40%;

}

.footer__social-links {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer__social-links img {
    width: 24px;
    height: 24px;
    filter: invert(1);
    transition: filter .3s ease;
    cursor: pointer;
}

.footer__social-links img:hover {
    filter: invert(0.6) sepia(1) saturate(5) hue-rotate(330deg);
}


.footer__categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.footer__categories a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: color .3s ease;
}

.footer__categories a:hover {
    color: orangered;
}

.footer__categories img {
    width: 40px;
    height: 40px;
    filter: invert(0.8);
    margin-right: 6px;
}

@media (max-width: 650px) {
    .footer__container {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
}
